  <h1>Plan your workout now! Do it now! Get to the gym!</h1>

  <form id="new-workout">
    <input type="text" name="workout-name" id="workout-name" placeholder="new workout name...">
    <input type="submit" value="Add workout">
  </form>