<div class="all-workout-container">
  <div class="positioning">
    <h1>Pick your workout! Do it now!</h1>
    <div id="workout-picker">
        {{#each workout}}
        <button type="submit" name="workoutId" value="{{_id}}" class="big-button">{{name}}</button>
        {{/each}}
    </div>
  </div>
</div>