<header>
  <img src="./images/planet.png" class="nav-img">
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
    </ul>
  </nav>
</header>
<main class="container">



</main>

{{!-- receive all of our database goodies --}}