
<main class="container">

  <a href="/newworkout"><button class="button-position">New Workout</button></a>
  <a href="/workouts"><button class="button-position">Previous Workout</button></a>

</main>

{{!-- receive all of our database goodies --}}