<header>
  <img src="./images/planet.png" class="nav-img">
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
    </ul>
  </nav>
</header>
<main class="container">

  <a href="/newworkout"><button>New Workout</button></a>
  <a href="/oldworkout"><button>Previous Workout</button></a>

</main>

{{!-- receive all of our database goodies --}}