<div class="new-workout-container">
  <div class="positioning">
    <h1>Plan your workout! Do it now! Get to the gym!</h1>

    <form action="/newworkout" method="post" id="new-workout">
      <div class="workout-form-container">
        <input type="text" name="name" id="workout-name" placeholder="Workout Name" required>
        <input type="submit" value="Add workout" class="button">
      </div>
    </form>
  </div>
</div>